openapi: 3.1.0
info:
  title: Provenex Check API
  version: 1.0.0
  description: >-
    Public wire contract for consented, bounded Provenex Check runs. This
    contract describes collector inputs and a strict bounded public response,
    not engine internals. Consumers reject unknown fields and any response that
    does not declare the exact consented data policy. The included ephemeral
    Ed25519 key provides report-envelope self-consistency only; it is not a
    Provenex issuer identity or durable attestation. Terminal and HTML views are
    rendered by the CLI, not returned by this API.
externalDocs:
  description: Provenex Check ephemeral data policy
  url: https://github.com/provenex/provenex-public/blob/main/docs/provenex-check-data-policy.md
servers:
  - url: https://api.provenex.ai
paths:
  /v1/check/runs:
    post:
      operationId: createCheckRun
      summary: Analyze a consented source and telemetry bundle
      security:
        - bearerAuth: []
      requestBody:
        required: true
        description: >-
          Bounded public collector request: at most 10,000 source files and 256
          explicit or discovered artifacts, with at most 64 MiB of aggregate
          UTF-8 content.
        x-maxRequestBytes: 134217728
        x-maxArtifacts: 256
        content:
          application/json:
            schema:
              $ref: ../schemas/provenex-check-request.v1.schema.json
      responses:
        '200':
          description: >-
            Strict public Check response with the mandatory applied policy and
            an ephemeral self-consistency envelope around the public report DTO
          content:
            application/json:
              schema:
                $ref: ../schemas/provenex-check-response.v1.schema.json
        '400':
          description: Invalid or unsupported bounded input
        '401':
          description: Missing or invalid API key
        '413':
          description: Request exceeds server limits
        '429':
          description: Plan or rate limit reached
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Provenex API key
